discord.py>=2.3.0
aiohttp
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
Pillow
email_validator
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
